div#browserCompat.lightbox-bk {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    background-color : none\9;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000', endColorstr='#CC000000') !important;
    overflow: auto;
}
body.browser-compat-loading {
    cursor: wait;
    overflow: auto;
}
body.browser-compat-loaded {
    cursor: auto;
    overflow: hidden;
}

html, body {height: 100%; margin: 0;}

#brow-compat-link-disp {
    display: none;
}

#browserCompat .lightbox-popup {
    border: none;
    border-radius: 0;
    padding:10px 25px;
    height: auto;
    width: auto;
    position: relative;
    left: 50%;
    top: auto;
    margin: 40px;
    max-width: 720px;
    margin-left: -385px;
}

#browserCompat .iconClose {
    background-image: url("../images/close_icon.png");
    margin-right: -10px;
    position: relative;
    z-index: 1000;
}

#browserCompat .row {
    min-height: 45px;
    border: 1px solid #ccc;
    border-width: 1px 0;
}

.lightbox-content {
    background-image: url("../images/di-logo.png");
    padding-top: 95px;
    background-repeat: no-repeat;
    background-position: 50% 2%;
    font-size: 12px;
    color: #333;
}


.brow-details li {
    list-style-type: none;
}
.brow-details h3, .brow-details li, .brow-result, .brow-note {
    min-height: 40px;
    border: 1px solid #ccc;
    border-width: 0 0 1px;
    padding-top: 10px;
    box-sizing: border-box;
}

.brow-details li {
    padding: 15px 0 10px 25px;
    min-height: 45px;
    border-color: #EEE;

}
.brow-details li:last-child {
    border-width: 0;
}
.brow-details h3 {
    background-color: #EFEFEF;
    border-width: 1px 0;
    padding-left: 25px;
    padding-top: 12px;
    font-size: 12px;
}
.brow-result p {
    font-weight: bold;
    padding: 10px 0 10px 40px;
}

.brow-result {
    border-width: 0;
    margin-bottom: 8px;
    padding-top: 5px;
}
.brow-result p, .brow-note {
    padding: 10px 0 10px 40px;
}
.brow-result.error p {
    background: url("../images/icon-error-small.png") no-repeat 15px 10px;
    background-color: rgba(255, 125, 125, .3);
    background-color : rgb(242, 215, 215)\9;
}
.brow-result.success p {
    background: transparent url("../images/Check_small.png") no-repeat 15px 12px;
}
.brow-details, .brow-note {
    margin: 0 -25px 0;
}
.brow-note {
    border-width: 1px 0;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 18px;
}
.brow-note span:first-child {
    background: url("../images/Warning-icon-small.png") no-repeat;
    min-height: 16px;
    display: inline-block;
    padding-left: 25px;
    font-weight: bold;
    padding-top: 2px;
}
.brow-note span {
    padding-top: 2px;
}

#browserCompat h1 {
    font-size: 20px;
    border: 2px solid #ccc;
    border-width: 0 0 2px 0;
    padding: 0 0 10px 0;
    margin: 0 0 5px 0;
    padding-right: 50px;
    overflow: hidden;
}

#browserCompat h1 > span {
    float: left;
}

.brow-buttons {
    margin: 20px 0;
}

.brow-buttons .button {
    box-shadow: 0px 1px 0px 0px #CCC;
    background:#EFEFEF linear-gradient(to bottom, #EFEFEF 5%, #DEDEDE 100%);
    border-radius: 2px;
    border: 1px solid #CCC;
    display: inline-block;
    cursor: pointer;
    color: #333;
    font-size:15px;
    font-weight: normal;
    padding:6px 24px;
    text-decoration: none;
    margin-left: 10px
}

.brow-buttons .button:first-child {
    margin-left: 0;
}

.brow-buttons .button:hover {
    background: linear-gradient(to bottom, #DEDEDE 5%, #CDCDCD 100%);
}

.brow-buttons .brow-close {
    background: rgb(53, 75, 110) !important;
    box-shadow: 0px 1px 0px 0px black;
    border-radius: 2px;
    border: 1px solid rgb(53, 75, 110);
    color: white;
}
.brow-buttons .brow-close:hover {
    background: rgb(53, 75, 110) !important;
}

.brow-detail {
    position: relative
}

.brow-detail strong {
    font-weight: normal;
    display: block;
    word-wrap: break-word;
    max-width: 150px;
    width : 150px/9;
}

.brow-detail span {
    display: block;
    font-weight: normal;
    position: absolute;
    left: 150px;
    top: 0;
}

.brow-details .brow-error {
    background: url("../images/icon-error-small.png") no-repeat 0 0;
    line-height: 15px;
    padding: 1px 25px 0 25px;
    margin: 5px 0 0 150px;;
    color: red;
}

.brow-details .brow-error a {
    color: #5d8fd5;
    margin-left: 5px;
    text-decoration: underline !important;
}

.brow-error {
    display: none;
}

#brow-help {
    background-color: #777;
    height: 30px;
    width: 30px;
    display: block;
    float: right;
    border-radius: 15px;
    padding: 0;
    margin: 3px -50px 0 0;
    font-size: inherit;
    font-family: sans-serif;
}

#brow-help span {
    display: block;
    margin: 5px 0 0 8px;
    color: white;
    text-align: center;
    margin-right: 50px;
    float: none !important;
}

#brow-help span {
    margin: 6px 0 0 0px;
}

.brow-compat-links a:first-child {
    margin-bottom: 5px;
}

#brow-result-text {
    display: none;
}


#browserCompat  .lightbox-content {
    margin-top:0;
    padding-top:0;
    background: none;
}

#browserCompat .usp-header1 {
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -10px;
}

#browserCompat .usp-header1 h1 {
    border: none;
}

#browserCompat .usp-header2 header {
    min-width: 100%;
    margin-bottom: 20px;
}

.brow-buttons .button:first-child {
    padding-left: 60px;
    padding-right: 60px;
}

#brow-note-text {
    margin-left: 25px;
    display: block;
    margin-top: -18px;
}

@media only screen and (max-width: 850px) {
    #browserCompat .lightbox-popup {
        margin-left: 40px;
        left: auto;
    }

    #brow-help span {
        display: block;
        margin: 2px 0 0;
        color: white;
        text-align: center;
        color: #777;
        font-size: 14px;
    }

    #brow-help {
        background-color: #777;
        height: 20px;
        width: 20px;
        display: block;
        float: right;
        border-radius: 15px;
        padding: 0;
        margin: 3px -50px 0 0;
        font-size: inherit;
        font-family: sans-serif;
        border: 1px solid #777;
        background-color: transparent;
        color: black;
    }

    .brow-details li {
        padding: 15px 0 10px 5px;
        min-height: 45px;
        border-color: #EEE;
    }

    #browserCompat .lightbox-popup {
        margin-left: 20px;
        left: auto;
        padding: 10px 20px;
    }

    .brow-details h3 {
        padding-left: 5px;
    }

    #browserCompat .usp-header1 {
        margin-left: -20px;
        margin-right: -20px;
    }

    .brow-details, .brow-note {
        margin: 0;
        padding-left: 5px;
    }

    .brow-details, * {
        padding-left: 0;
    }

    #brow-help span {
        display: block;
        margin: 2px 0 0;
        color: white;
        text-align: center;
        color: #777;
        font-size: 14px;
    }

    #brow-help span {
        margin: 4px 0 0 0px;
    }
}

@media only screen and (max-width : 480px) {
    .brow-detail span {
        left: auto;
        top: auto;
        position: inherit;
        margin-top: 10px;
    }

    .brow-details .brow-error {
        margin-left: 0px;
    }

    .brow-buttons .button {
        margin-left: 0px;
        right: 0;
        padding: 6px 24px;
    }

    .brow-buttons .button:first-child {
        margin-bottom: 20px;
        margin-right: 10px;
        margin-right: 0 !important;
        padding-left: 24px !important;
    }

    #browserCompat .lightbox-popup {
        margin: 20px;
        margin-left: 20px;
    }

    #brow-help {
        position: absolute;
        top: 0;
        right: 0;
    }

    #browserCompat h1 {
        position: relative;
    }

    .brow-details, .brow-note {
        margin: 0;
    }

    .brow-details, * {
        padding-left: 0;
    }

    #brow-help span {
        display: block;
        margin: 2px 0 0;
        color: white;
        text-align: center;
        color: #777;
        font-size: 14px;
    }

    #brow-help {
        background-color: #777;
        height: 20px;
        width: 20px;
        display: block;
        float: right;
        border-radius: 15px;
        padding: 0;
        margin: 3px 0 0;
        font-size: inherit;
        font-family: sans-serif;
        border: 1px solid #777;
        background-color: transparent;
        color: black;
    }

    #browserCompat h1 {
        font-size: 20px;
        margin: 0 0 5px 0;
        border: none;
    }

    .brow-details li {
        padding: 15px 0 10px 5px;
        min-height: 45px;
        border-color: #EEE;
    }

    #browserCompat .lightbox-popup {
        margin-left: 20px;
        left: auto;
        padding: 10px 20px;
    }

    .brow-details h3 {
        padding-left: 5px;
    }

    #browserCompat .usp-header1 {
        margin-left: -20px;
        margin-right: -20px;
    }

    .brow-buttons {
        position: relative;
        height: 80px;
    }

    .brow-buttons .button {
        position: absolute;
        top: 50px;
        left: 0;
        margin-left: 0;
    }

    .brow-buttons .button:first-child {
        top: 0;
        position: absolute;
        padding-left: 60px;
        padding-right: 60px;
    }

    #brow-help span {
        margin: 4px 0 0 0px;
    }

    .brow-detail strong {
        max-width: 100%;
    }

    body.browser-compat .brow-buttons {
        height: 80px;
    }

    body.browser-compat .brow-buttons .button {
        position: absolute;
        top: 0;
    }
}

